{{> header}}
     <link rel="stylesheet" href="/public/css/genres.css">
     <script src="/public/js/genre.js"></script>

    <div class="container">
    <h1>Genre Ratings</h1>
     <br>
     <br>
    <div>
     <table class="table">
       <thead>
           <th>Genre</th>
           <th>Public Rating</th>   
            {{#if username}}
                    <th>Your Rating</th>  
             {{/if}}    
       </thead>
       <tbody>
             {{errmsg}}
             {{#each allratings}}
                <tr>
                 <td>{{this.genredesc}}</td>
                 <td><img src="/public/assets/rating.jpg" width="20" height="20" />&nbsp; {{this.rating}}</td>
                 {{#if ../username}}
                     <td> 
                     {{#if this.userrating }}
                     <img src="/public/assets/rating.jpg" width="20" height="20" />&nbsp;
                     {{this.userrating}}
                     {{else}}
                     Please provide rating for this Genre.
                     {{/if}}  
                    </td> 
                 {{/if}}
                 </tr>     
             {{/each}}  
       </body>
     </table> 
    
     {{#if username}}
    <br>
     <B>Add ratings</B>
   <br><br>
     <form method="post" action ="/genres" id="userform">
         Genre: <select name="genreid" id="genreid">
             {{#each genrelist}}
             <option value="{{this.genreid}}">{{this.genredesc}}</option>
             {{/each}}
         </select>
         Rating : <select name="userrating" id="userrating">
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
             <option value="5">5</option>
         </select>
         </form> 
         {{/if}}
    </div>
    </div>
{{> footer}}