{{> header}}
<script src="/public/js/home.js"></script>
<link rel="stylesheet" href="/public/css/home.css">

<div class="container">
  <div class="jumbotron">
    <center>
      <h2>Welcome to BookExchange</h2>
    </center>
  </div>
  <form action="/home" method="post" id="searchform">
    <table class="table">
      <tbody>
        <tr>
          <td></td>
          <td>
            <select name="genreid" class="input-lg form-control">
              {{#each genrelist}}
              {{#ifEqual this.genreid ../selectedgenre}}
              <option class="input-lg form-control" value="{{this.genreid}}" selected>{{this.genredesc}}</option>
              {{else}}
              <option value="{{this.genreid}}">{{this.genredesc}}</option>
              {{/ifEqual}}
              {{/each}}
            </select>
          </td>
          <td>
            <div class="input-group">
              <input class="input-lg form-control" id="searchbook" name="searchbook" type="text" placeholder="Search.."
                value='{{searchbooktext}}' /> <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-lg" type="button"><span
                    class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
    <center>
  </form>
  <div class="row">
    {{#each bookslist}}
    <div class="col-md-4" style="padding:15px;">
      <div style="display:inline-block; border:solid 1px #808080; padding:15px">
        <div>
          <img src="{{this.bookimgurlone}}"  width="300" height="400">
          <br />
          <p class="pull-right">{{this.bookposteddate}}</p>
          <h3 class="text-justify"><a href="#">{{this.bookname}}</a></h3>
          <h4 id="bookdsc" class="text-justify">{{this.bookdesc}}</h4>
        </div>
        <br />
        <div class="ratings text-center">
          <h3>
            {{#ifEqual this.username ../username}}
            By you
            {{else}}
            By {{this.username}}

            {{/ifEqual}}
          </h3>
        </div>
        <br />
        {{#if ../username}}
        {{#ifEqual this.username ../username}}
        {{else}}

        <div class="btn-ground text-center" style="padding-bottom: 30px">
          <a href="/userbooks/{{this.username}}" class="btn btn-primary stretched-link">Request Exchange</a>
        </div>
        {{/ifEqual}}
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{> footer}}
